<h2>この科目の平均評価点は
	<%= star_average.round(2) %>/10点です。</h2>

<br>


<%= will_paginate(comments,  :previous_label => ' &lt 前へ', :next_label => '次へ &gt', :renderer => WillPaginate::ActionView::LinkRenderer) %>


<% comments.each do |f| %>
<div class="clearfix">
	<div class="comment__title">
		<p>評価</p>
		<p>教授</p>
		<p>出席</p>
		<p>教科書</p>
		<p>試験</p>
		<p>感想</p>
		<p>投稿したユーザー</p>
	</div>

	<div class="comment__contents">
		<p class="comment__text">
		<%= f.star %>
		</p>

		<p class="comment__text">
		<%= f.professor %>
		</p>

		<p class="comment__text">
		<%= f.attendance %>
		</p>

		<p class="comment__text">
		<%= f.textbook %>
		</p>

		<p class="comment__text">
		<%= f.exam %>
		</p>

		<p>
		<textarea readonly>
		<%= f.comment %>
		</textarea>
		</p>

		<p class="comment__text">
		<%= link_to f.customer.customer_name, customer_path(f.customer.id) %>
		</p>


		<% if customer_signed_in? %>
		<% if f.favorited_by?(current_customer) %>
			<%= link_to lesson_comment_favorites_path(f.lesson.id, f.id), method: :delete do %>
      		<i class="fa fa-thumbs-up fa-2x" style="color: blue;"></i>
      		<%= f.favorites.count %> いいね
      		<% end %>
      	<% else %>
		      <%= link_to lesson_comment_favorites_path(f.lesson.id, f.id), method: :post do %>
	          <i class="fa fa-thumbs-up fa-2x" style="color: #C0C0C0 ;"></i>
    		    <%= f.favorites.count %>いいね
   		 	  <% end %>
		 <% end %>

		 <% else %>
		 	  <i class="fa fa-thumbs-up fa-2x" style="color: blue;"></i>
      		  <%= f.favorites.count %> いいね
		 <% end %>


		<% if customer_signed_in? %>
		<% if f.customer.id == current_customer.id %>
		<p>
		<%= link_to "編集する", edit_lesson_comment_path(f.lesson.id, f.id), class: "btn" %>
		</p>
		<p>
		<%= link_to "コメント削除", lesson_comment_path(f.lesson.id, f.id), method: :delete, 'data-confirm' => "本当に削除しますか？", class: "btn__delete" %>
		</p>
		<% end %>
		<% end %>
	</div>
</div>
<br>
<% end %>

<%= will_paginate(comments,  :previous_label => ' &lt 前へ', :next_label => '次へ &gt', :renderer => WillPaginate::ActionView::LinkRenderer) %>
