<ul>
  <% @comment.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
</ul>


<section class="title">
	<h1><%= @comment.lesson.lesson_name %>に対するコメントの編集</h1>
</section>


<section class="form__all">

<div>
<%= form_for @comment, url: lesson_comment_path do |f| %>

<div class="field">
    <%= f.label :star, "10点満点の評価", class: "form__label" %>
    <%= f.number_field :star, class: "form__field" %>
</div>

<div class="field">
    <%= f.label :professor, "教授の名前", class: "form__label" %>
    <%= f.text_field :professor, class: "form__field" %>
</div>


<div class="field">
    <%= f.label :attendance, "出席の重要度", class: "form__label" %>
    <br>
    <%= f.select :attendance,["毎回出席をとる", "抜き打ちで出席をとる", "全く出席はとらない"] %>
</div>


<div class="field">
    <%= f.label :textbook, "教科書が必要か？", class: "form__label" %>
    <br>
    <%= f.select :textbook,["必要", "あった方が良いが無くても大丈夫", "必要ない"] %>
</div>


<div class="field">
    <%= f.label :exam, "試験の回数", class: "form__label" %>
    <br>
    <%= f.select :exam,["期末試験のみ", "中間試験と期末試験", "レポートのみ"]  %>
</div>

<div class="field">
    <%= f.label :comment, "自由記述欄", class: "form__label" %>
    <%= f.text_area :comment, class: "form__field" %>
</div>
	<%= f.submit "コメントの編集", class: "btn" %>

<% end %>
</div>

</section>