<section class="title">
	<h1><%= @lesson.lesson_name %></h1>
	<h3>コメント一覧</h3>
</section>


<% @comments.each do |f| %>
<div>
	<%= f.star %>
	<%= f.professor %>
	<%= f.attendance %>
	<%= f.textbook %>
	<%= f.exam %>
	<%= f.comment %>
	<%= f.customer.customer_name %>
</div>
<% end %>