<section class="title">
	<h1><%= @customer.customer_name %>さんの投稿一覧</h1>
</section>


<%= will_paginate(@comments,  :previous_label => ' &lt 前へ', :next_label => '次へ &gt', :renderer => WillPaginate::ActionView::LinkRenderer) %>


<% @comments.each do |f| %>
<div class="clearfix">
	<h3 class="mypage__lesson"><%= f.lesson.lesson_name %></h3>
	<div class="comment__title">
		<p>評価</p>
		<p>教授</p>
		<p>出席</p>
		<p>教科書</p>
		<p>試験</p>
		<p>感想</p>
		<p>投稿したユーザー</p>
	</div>

	<div class="comment__contents">
		<p class="comment__text">
		<%= f.star %>
		</p>

		<p class="comment__text">
		<%= f.professor %>
		</p>

		<p class="comment__text">
		<textarea readonly>
			<%= f.attendance %>
		</textarea>
		</p>

		<p class="comment__text">
		<textarea readonly>
			<%= f.textbook %>
		</textarea>
		</p>

		<p class="comment__text">
		<%= f.exam %>
		</p>

		<p>
		<textarea readonly class="textarea-comment">
		<%= f.comment %>
		</textarea>
		</p>

		<p class="comment__text">
		<%= f.customer.customer_name %>
		</p>

		<p>
		<%= link_to "編集する", edit_admin_lesson_comment_path(f.lesson.id, f.id), class: "btn" %>
		</p>
		<p>
		<%= link_to "コメント削除", admin_lesson_comment_path(f.lesson.id, f.id), method: :delete, 'data-confirm' => "本当に削除しますか？", class: "btn__delete" %>
		</p>
	</div>
</div>
<br>
<br>
<% end %>

<%= will_paginate(@comments,  :previous_label => ' &lt 前へ', :next_label => '次へ &gt', :renderer => WillPaginate::ActionView::LinkRenderer) %>