<section class="title">
	<h1><%= @customer.customer_name %>さんのユーザーマイページ</h1>
</section>

<div class="clearfix">
	<div class="comment__title">
		<p>ユーザー名</p>
		<p>Twitterアカウント</p>
		<p id="comment__title__special">自己紹介</p>
		<p>投稿数</p>
	</div>

	<div class="comment__contents">
		<p class="comment__text">
		<%= @customer.customer_name %>
		</p>

		<p class="comment__text">
		Twitterアカウント
		</p>

		<p id="comment__text__special">
		<textarea readonly class="textarea-comment">
		<%= @customer.customer_introduction %>
		</textarea>
		</p>

		<p class="comment__text">
		<%= link_to @customer.comments.count %>
		</p>



		<br>
		<div>
		<%= link_to "このユーザーの投稿一覧を見る", comments_customer_path(@customer.id) %>
		</div>

		<div>
		<% if @customer.id == current_customer.id %>
			<%= link_to "マイページの編集", edit_customer_path(@customer.id) %>
		<% end %>
		</div>
	</div>
</div>
