<!DOCTYPE html>
<html>
  <head>
    <title>OCU</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <h1 class="title">
      <% if customer_signed_in? %>
        <%=link_to "クロバス", root_path %>
      <% elsif admin_signed_in? %>
        <%=link_to "管理者ページ" %>
      <% else %>
        <%=link_to "クロバス", root_path %>
      <% end %>
      </h1>

      <nav>

        <ul class="header__ul">
        <!--ユーザーログイン時-->
        <% if customer_signed_in? %>
          <li class="header__li">
            <%= link_to "ホーム", root_path %>
          </li>

          <li class="header__li">
            <%= link_to "マイページ" %>
          </li>

          <li class="header__li">
            <%= link_to "新規投稿", new_fuculty_path %>
          </li>

          <li class="header__li">
            <%= link_to "ログアウト" , destroy_customer_session_path, :method => :delete %>
          </li>

        <!--管理者ログイン時-->
        <% elsif admin_signed_in? %>
          <li class="header__li">
            <% link_to "ユーザー一覧" %>
          </li>

        <!--非ログイン時-->
        <% else %>
          <li class="header__li">
            <%=link_to "ホーム", root_path %>
          </li>

          <li class="header__li">
            <%=link_to "ログイン", new_customer_session_path %>
          </li>

          <li class="header__li">
            <%=link_to "新規会員登録", new_customer_registration_path %>
          </li>
        <% end %>
        </ul>
      </nav>
    </header><!-- /header -->
    <%= yield %>
  </body>
</html>
